zed/.config/zed/conversations/
zed/.config/zed/embeddings/
zed/.config/zed/prompts/
.tmp*
fish/.config/fish/conf.d
fish/.config/fish/completions
fish/.config/fish/fish_variables
*.db
neovim/.config/nvim/lazy-lock.json
bin/.local/share
bin/.local/state
bin/.local/bin/mise
