<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="openbox-menu" label="Openbox">
		<item label="Openbox Configuration Manager">
			<action name="Execute">
				<command>obconf</command>
				<startupnotify>
					<enabled>yes</enabled>
				</startupnotify>
			</action>
		</item>
		<item label="Tint2 config">
			<action name="Execute">
				<execute>tint2conf</execute>
			</action>
		</item>
		<item label="Reconfigure Openbox">
			<action name="Reconfigure"/>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<separator label="Applications"/>
		<item label="Thunar">
			<action name="Execute">
				<command>thunar</command>
			</action>
		</item>
		<item label="Kitty">
			<action name="Execute">
				<command>kitty</command>
			</action>
		</item>
		<item label="Firefox">
			<action name="Execute">
				<command>firefox</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>Firefox</wmclass>
				</startupnotify>
			</action>
		</item>
		<item label="Thunderbird">
			<action name="Execute">
				<command>thunderbird</command>
				<startupnotify>
					<enabled>yes</enabled>
					<wmclass>Thunderbird</wmclass>
				</startupnotify>
			</action>
		</item>
		<item label="ChessX">
			<action name="Execute">
				<execute>chessx</execute>
			</action>
		</item>
		<separator label="System"/>
		<menu id="openbox-menu"/>
		<item label="Lock">
			<action name="Execute">
				<command>xlock</command>
			</action>
		</item>
		<item label="Log Out">
			<action name="Exit">
				<prompt>yes</prompt>
			</action>
		</item>
	</menu>
</openbox_menu>
